 <ul class="list-unstyled sub-content-items">
  <% for (var subcontents = content.get("subcontents"), i = subcontents.length - 1; i >= 0; i--) { 
      var randomImage = subcontents.at(i).getRandomPost().getRandomImage();
  %>
    <li class="sub-content-item content-item-container">
      <a class="sub-content-link" href="#content/<%= subcontents.at(i).get('path') %>">
        <img alt="<%= !_.isNull(randomImage) ? randomImage.get('caption') : 'REVIEW: No images available!' %>"
          class="img-responsive js-lazy-load js-lazy-load-immediate"
          data-original="TODO: Use src value, and set to blank.gif, when we're lazy loading images" 
          src="<%= !_.isNull(randomImage) ? randomImage.get('fullpath') : 'REVIEW: No images available!' %>" /> 
        <span class="sub-content-link-title">
          <%= subcontents.at(i).get("title") %>
        </span>
      </a>
    </li>
  <% } %>
</ul>


<!-- TODO
section.content-navigation
  = render \
    :partial => '/contents_navigation', \
    :locals => { \
      :fixed => true, \
      :home_model => @home_model, \
      :random_image => @random_image \
    }
-->

