<div class="post-images-zoom-wrapper js-post-images-zoom-wrapper" style="height: <%= height %>px;">
  <ul class="post-images-zoom js-post-images-zoom not-visible">
    <% for (var i = 0; i < images.length; i++) { %>
      <li>
        <a href="javascript:void(0);">
          <img src="<%= images[i].src %>" title="<%= images[i].title %>" />
        </a>
      </li>
    <% } %>
  </ul>
</div>