.content-navigation-item {
  list-style: none;
}

.content-navigation-item-link {
  @include gradient-vertical(#999999, #ffffff, 0%, 100%);
  border: 1px solid #666666;
  border-radius: 5px;
  @include box-shadow(0px 5px 10px 1px rgba(0, 0, 0, 0.3));
  color: #303030;
  display: block;
  font-weight: bold;
  margin: 0 auto 1rem auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  width: 80%;

  &:link,
  &:visited,
  &:hover,
  &:active { 
    color: $almost_black;
    text-decoration: none;
  }

  &.tapped {
    @include gradient-vertical(#ffffff, #999999, 0%, 100%);
  }

  .content-navigation-item-img {
    display: none;
  }
}
