/**
 * Styles for content pages.
 */

.content {
  .content-header {
    color: $header_gray;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  }

  .sub-content-items {
    border-bottom: 1px dotted $light_gray;
    display: block;
    margin: 0 auto 2rem auto;
    padding-bottom: 1rem;
    width: 80%;
  }

  .sub-content-item {
    display: block;
    margin: 0 auto 1rem auto;
    height: 12rem;
    padding: 1rem;
  }

  a.sub-content-link {
    display: block;
    height: 100%;

    &:link,
    &:visited,
    &:hover,
    &:active { 
      text-decoration: none;
    }
  }

  .sub-content-container {
    display: block;
    height: 100%;
    width: 100%;
  }

  .sub-content-image {
    @include fade_in_background_image();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 85%;
  }

  .sub-content-title {
    // TODO: Vertically center text using this technique instead of line-height:
    // http://css-tricks.com/centering-in-the-unknown/
    color: $almost_black;
    display: block;
    height: 15%;
    margin-top: 0.25rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.single-post .post {
    margin-top: 50px;
  }
}