.allow-post-overflow {
  overflow-x: hidden;
}

.post {
  margin: 0 auto 2rem auto;
  min-height: 16.875rem;
  padding-bottom: 1rem;
  width: 95%;
}

.post-content {
  margin-bottom: 1rem;
  
  .post-content-subtitle,
  b:first-child {
    display: block;
    font-family: $headings-font-family;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.75rem;
    text-align: center;
  }
}

.post-image-container {
  background-color: $off_white;
  text-align: center;
  vertical-align: middle;
}

.post-images {
  &.uninitialized {
    .post-image-container {
      line-height: 0;
      height: 0;
    }
  }
}

.post-image { 
  margin: 0 auto;
}

.post-image-caption {
  display: none;
}

.post-images-zoom-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0px;
  overflow-x: hidden;
  opacity: 0;
  position: absolute;
  top: 0 !important;
  -moz-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  width: 100%;
  z-index: 2000;

  &.fade-in { 
    opacity: 1;
  }

  .post-images-zoom,
  .simple-carousel {
    &.not-visible {
      visibility: hidden !important;
    }
  }

  .simple-carousel {
    $transform_time: 500ms;
    $opacity_time: 500ms;

    background-color: $off_white;
    @include box-shadow(0px 5px 10px 1px rgba(0, 0, 0, 0.9));
    left: 5%;
    position: fixed !important;
    -moz-transition: -moz-transform $transform_time ease, opacity $opacity_time ease;
    -webkit-transition: -webkit-transform $transform_time ease, opacity $opacity_time ease;
    -o-transition: -o-transform $transform_time ease, opacity $opacity_time ease;
    transition: transform $transform_time ease, opacity $opacity_time ease;
    opacity: 0;
    width: 90%;

    @media screen and (orientation:portrait) {
      height: 40%;
      top: 20%;
    }

    @media screen and (orientation:landscape) {
      height: 90%;
      top: 5%;
    }
 
    &.scale-out {
      @include scale(0);
    }

    &.scale-in {
      @include scale(1);
      opacity: 1;
    }

    &.slide-up {
      -webkit-transform: translateY(-150%);
      transform: translateY(-150%);
    }
  }

  .simplecarousel-remove {
    font-size: 1.5rem !important;
    height: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    z-index: 2100;

    &:hover {
      text-decoration: none;
    }
  }
}
