#site-footer {
  border-top: 1px solid $light_gray;
  margin-bottom: 50px;
  margin-top: 25px;
  padding-top: 25px;
  width: 80%;
  
  nav { 
    text-align: center;
  }

  li {
    padding: 0 0.5rem 0 0.5rem;
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active { 
      text-decoration: none;
    }
  }

  .icon {
    font-size: 1.5rem;

    span {
      display: none;
    }
  }
}