.content {
  .content-header {
    font-size: 4rem;
    line-height: 5rem;

    @media only screen and (min-width: $screen-md-min) {
      font-size: 4.5rem;
      line-height: 5.5rem;
    }
  }

  .sub-content-items {
    border-bottom: 0 none;
  }

  .sub-content-item {
    height: 30rem;
    margin-bottom: 3rem;
    max-width: $content_and_post_max_width;
    width: 75%;
  }

  .sub-content-title {
    font-size: 1.5rem;
    line-height: 3rem;
    min-height: 3rem;
  }
}