.content-navigation-visual {
  .content-navigation-item {
    $timing: 500ms;
    $function: ease;

    height: 40%;
    max-height: 18rem;
    min-height: 10rem;
    position: absolute;
    width: 22.5%;
    z-index: 20;
    @include scale(1.0);
    -moz-transition: -moz-transform $timing $function;
    -webkit-transition: -webkit-transform $timing $function;
    -o-transition: -o-transform $timing $function;
    transition: transform $timing $function;

    @media only screen and (max-width: $screen-lg-min) { 
      height: 16rem;
    }

    @media only screen and (max-width: $screen-md-min) { 
      height: 14rem;
    }


    /* 
     * NOTE: The following styles area specific to the number of links 
     * shown on the home page.  They're fragile.  And will need to be 
     * updated if/when more links are needed.
     */
     
    &._1st {
      left: 1.25%;
      top: 5%;
    }

    &._2nd {
      left: 26.25%;
      top: 5%;
    }

    &._3rd {
      left: 51.25%;
      top: 5%;
    }

    &._4th {
      left: 76.25%;
      top: 5%;
    }

    &._5th {
      left: 26.25%;
      top: 50%;
    }

    &._6th {
      left: 51.25%;
      top: 50%;
    }

    &.scaled-out {
      @include scale(0);
    }
  }

  .content-navigation-item-link {
    border-width: 1px;
    height: 100%;
    margin: 0;
    padding-top: 1rem;
    width: auto;
  }

  .content-navigation-item-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 90%;
    width: 100%;
  }

  .content-navigation-item-title {
    display: block;
    height: 10%;
  }
}

.content-navigation-fixed {
  @include gradient-vertical(rgba(153, 153, 153, 0.75), rgba(255, 255, 255, 0.75), 0%, 100%);
  border-bottom: 1px solid $border_gray;
  height: 5rem;
  left: 0;
  overflow: hidden;
  padding: 0 5% 0 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .content-navigation-item:last-child {
    .content-navigation-item-link {
      border-right: 1px solid $border_gray;
    }
  }

  .content-navigation-item-link {
    background-image: none;
    border: 0 none;
    border-left: 1px solid $border_gray;
    border-radius: 0;
    @include box-shadow(0 0 0 0 rgba(0, 0, 0, 0));
    float: left;
    height: 5rem;
    line-height: 5rem;
    margin: 0;
    padding: 0;
    @include transition(background-color 500ms ease);
    // NOTE: This width is dependent on the number of sections!  
    width: 14.28%;

    &:hover { 
      background-color: $white;
    }

    .content-navigation-item-image {
      // Need to trump inline styles added by jQuery lazy load.
      display: none !important; 
    }
  }
}