.site-header {
  border-top: 5rem solid transparent;
  margin-top: 0;
  padding-bottom: 2rem;

  h1 {
    font-size: 5rem;
    line-height: 5rem;

    @media only screen and (min-width: $screen-md-min) {
      font-size: 5.5rem;
      line-height: 5.5rem;
    }
  }

  small {
    font-size: 1.1rem;
    line-height: 1.25rem;

    @media only screen and (min-width: $screen-md-min) {
      font-size: 1.25rem;
      line-height: 1.35rem;
    }
  }
}

.site-header-home {
  background-attachment: fixed;
  border-top: 0 none;
  min-height: 30rem;
  padding-bottom: 0;

  @include fade_in_background_image();

  .site-header-logo {
    position: fixed;
    right: 5%;
    text-align: right;
    width: auto;
    z-index: 2;
  }
}